<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>flaskblog</title>
    {% endif %}
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    {% endblock %}
  </head>
  <body>
    
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock %}
    {% block content %}
       
    {% endblock content %}

    <footer class="footer-area">
      <div class="container">
          <p>
              Copyright &copy;<script>
                  document.write(new Date().getFullYear());
              </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                  aria-hidden="true"></i> by <a href='' target="_blank">Subscribe</a>
          </p>
          {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                    </div>
                    {% endfor %}
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="md-form form-group">
                            <label class="white-color">Email Address...</label>
                            <input type="email"  class="form-control " name ="subscriber" required>
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
                        </div>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <div class="col-lg-4 col-md-4 footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
              <a href="#"><i class="fa fa-rss"></i></a>
          </div>
      </div>
      </div>
  </footer>
    {%block script%}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    <script src="{{url_for('static', filename='js/jquery-3.4.1.slim.min.js')}}" ></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  {%endblock%}
  </body>
</html>