{% extends "base.html" %}
{% block content %}
   <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='photos/' + post.author.image_file) }}" height="2%" width="8%">
            <div class="media-body">
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('main.new_post', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_pub.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.add_comment', post_id=post.id) }}"> Add comment</a>  
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.update_post', post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
                {% endif %}
            </div>
            

          </div>
       </article>
      </div>
      <div class="col-md-3">
        <h4>Comments</h4>
        {% for comment in comments%}
        <div class="card mb-2">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>{{comment.comment}}</p>
           </blockquote>
        </div>
        </div>
        {%endfor%}
      </div>
      <div class="col-md-3"></div>
   </div>
   
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    </div>
                </div>
                </div>
            </div>

            <footer class="footer-area">
                <div class=" footer">
                   <div class="row">
                       <div class="col-md-4">
              
                        <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                            <div class="md-form form-group">
                                <label class="white-color">Email Address...</label>
                                <input type="email"  class="form-control " name ="subscriber" required>
                            </div>
                            <div class="md-form form-group">
                                <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
                            </div>
                       </div>
                       <div class="col-md-4">
                        <p>
                            Copyright &copy;<script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href='https://github.com/barackmaund1' target="_blank">barackmaundu</a>
                        </p>
                       </div>
                       <div class="col-md-4">
                        <div class="col-lg-4 col-md-4 footer-social">
                            <a href="#"><i class="fas fa-facebook"></i></a>
                            <a href="#"><i class="fas fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-youtube-play"></i></a>
                            <a href="#"><i class="fas fa-pinterest"></i></a>
                            <a href="#"><i class="fas fa-rss"></i></a>
                        </div>
                    </div>
                </div>
                </div>
            
            </footer>
{% endblock content %}